extends common\layout

block content 
    div(class="container")
    if user.privilege > 1 
        a(class="btn btn-primary" href="/content/create")="Create new Content"
    if contents.length < 1
        h3  Sorry, no posts could be found.
    else
        each content in contents
            div(class="m-4")
                div(class="card m-2")
                    div(class="card-header")
                        div(class="card-title text-center")!=content.headline
                    div(class="card-body")
                        div(class="card-text mb-2")!=content.content
                    div(class="d-flex justify-content-center mb-1")
                        a(class="btn btn-primary m-1" href="/content/read/" + content.id)="Read full article"
                        if user.privilege > 2
                            a(class="btn btn-primary m-1" href="/content/delete/" + content.id)="Delete article"
                        // TODO: admin(>3) or author should do changes 
