extends common\layout

block content 
    form(method="POST")
        div(class="container")
            if typeof error_msg === "string" 
                div(class="alert alert-warning")
                    span(class="bi bi-exclamation-triangle-fill")="  "
                    span=error_msg
            div(class="row p-2")
                div(class="col-md-auto")
                    label(for="usernameInput")="Benutzernamen:"
            div(class="row p-2")
                div(class="col-md-auto")
                div(class="col")
                    - 
                        username = typeof username === "string" ? username : undefined
                    input(type="text" class="form-control" name="usernameInput" placeholder="Benutzernamen"  value=username required autocomplete="given-name")
            div(class="row p-2")
                div(class="col-md-auto")
                    label(for="passwordInput")="Passwort:"
            div(class="row p-2")
                div(class="col-md-auto")
                div(class="col")
                    - 
                        password = typeof password === "string" ? password : undefined
                    input(type="password" class="form-control" name="passwordInput" value=password placeholder="Passwort" required autocomplete="new-password")
            div(class="row p-2")
                div(class="col-md-auto")
                    label(for="aliasInput")="Alias:"
            div(class="row p-2")
                div(class="col-md-auto")
                div(class="col")
                    - 
                        alias = typeof alias === "string" ? alias : undefined
                    input(type="text" class="form-control" name="aliasInput" placeholder="Alias" value=alias required autocomplete="nickname")
            div(class="row p-2 d-flex justify-content-center")
                input(type="submit" class="btn btn-primary m-2 w-25" value="Registrieren")
                input(type="reset"  class="btn btn-primary m-2 w-25" value="Zurücksetzen")