extends common\layout

block content
    div="Hier können die eigenen Einstellungen angepasst werden."
    form(class="container-fluid")
        div(class="h6")="Persönliche Informationen"
            div()
                label(for="usernameInput")="Ändere deinen Benutzernamen:"
                input(type="text" class="form-control" name="usernameInput"  value=user.username required autocomplete="given-name")
            div()
                label(for="aliasInput")="Ändere deinen Alias:"
                input(type="text" class="form-control" name="aliasInput" placeholder="Alias" value=alias required autocomplete="nickname")
        div(class="h6")="Sicherheitseinstellungen"
            label(for="passwordInput")="Ändere dein Passwort"
            input()
        div()
