extends common\layout

block content
    p="Home Bereich Teaser des Blogs (erste Beiträge, Anzahl )"
    div="Aktuell gibt es auf dieser Webseite nur einen Blog mit " + count + " Beiträgen.\n Hier sind die letzten paar Einträge:"
    div 
        each content in contents
            div(class="m-4")
                div(class="card m-2")
                    div(class="card-body")
                        div(class="card-title border-bottom")!=content.headline
                        div(class="card-text mb-2")!=content.content
                        div
                            a(class="btn btn-primary" href="/content/read/" + content.id)="Read full article"

