nav(class="navbar sticky-top navbar-expand-lg bg-dark")
    .container-fluid
      .navbar-header
        a(class="navbar-brand" href="/")=navbar.websiteTitle

      button(class="navbar-toggler" type="button" 
          data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
          aria-controls="navbarNavAltMarkup" aria-expanded="false" 
          aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")

      div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
        div(class="navbar-nav")
          each page in navbar.subPages
              span(class="mt-2 " + page.icon )
              if page.activate
                a(class="nav-link active"  aria-current="page" href=page.link)=page.title
              else 
                a(class="nav-link" href=page.link)=page.title
        hr(class="d-lg-none text-white-50")
        div#Login_Container
          ul(class="navbar-nav flex-row flex-wrap ms-md-auto")
            li(nav-item col-6 col-lg-auto)
              button(class="bi bi-box-arrow-in-right mr-1")="Login"
            li(class="nav-item col-6 col-lg-auto ml-5")
            button="Registrieren"