extends ..\common\layout

block content 
    div(class="container p-1 border-bottom text-center")
        div(class="row")
            div(class="col")="Last editor: " + data.author
            div(class="col")="Edited on " + data.modified
            div(class="col")="Created on " + data.created
    div(class="p-3")!=data.content
    div(class="d-flex justify-content-left")
        button(onClick="history.go(-1)" type="button" class="btn  btn-secondary  ")
            i(class="bi bi-skip-backward-circle-fill")
            span=" Back"